* {
  box-sizing: border-box;
}

.loading-block {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-info {
  font-size: 0.8rem;
  text-align: right;
}

.create-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-value {
  font-size: 1rem;
  height: 2rem;
  width: 250px;
  padding: 5px;
}

.save-note {
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
}

.note-value {
  width: 100%;
  padding: 10px;
  min-height: 500px;
}
